<a href="https://colab.research.google.com/github/JJungEEun/lotte_project/blob/lattehauma-patch-1-1/2%EC%B0%A8%EB%B3%80%EC%88%98%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/colab/lotte/cust3')
df2=pd.read_csv('/content/drive/MyDrive/colab/lotte/cust3_1.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
print(df1.columns)
print(df2.columns)

Index(['Unnamed: 0', 'cust', 'rct_no', 'chnl_dv', 'cop_c', 'br_c', 'pd_c',
       'de_dt', 'de_hr', 'buy_am', 'buy_ct', 'ma_fem_dv', 'ages', 'zon_hlv',
       'de_hr_1', 'hrvar', 'royal1', 'royal2', 'royal3', 'date', 'weekday'],
      dtype='object')
Index(['Unnamed: 0', 'Unnamed: 0_x', 'cust', 'rct_no', 'chnl_dv', 'cop_c',
       'br_c', 'pd_c', 'de_dt', 'de_hr', 'buy_am', 'buy_ct', 'temp', 'rain',
       'pd_nm_x', 'clac_hlv_nm_x', 'clac_mcls_nm_x', 'ma_fem_dv', 'ages',
       'zon_hlv', 'rain_n', 'Unnamed: 0_y', 'pd_nm_y', 'clac_hlv_nm_y',
       'clac_mcls_nm_y', 'l_pd', 'm_pd', 'yes', 'weat'],
      dtype='object')

In [ ]:
df2_1=df2[['rct_no','de_hr','ma_fem_dv','ages','zon_hlv','weat','rain_n','temp','l_pd','m_pd']]
df1_1=df1[['cust','rct_no','de_hr_1','hrvar','royal1','royal2','royal3','weekday']]

In [ ]:
df1_1=df1_1[df1_1['cust']!='M057015266']
df1_1=df1_1[df1_1['cust']!='M919374790']

In [ ]:
print(df1_1.shape)
print(df2_1.shape)

(4359246, 8)
(4359246, 10)

In [ ]:
df1_1.reset_index(drop=False, inplace=True)

In [ ]:
df3=pd.merge(df1_1,df2_1, left_index=True, right_index=True)

In [ ]:
df3.shape

(4359246, 19)

In [ ]:
df3.to_csv('/content/drive/MyDrive/colab/lotte/cust4.csv')

________ 
이 밑에는 연습용으로 남겨놓은거 지금은 안봐도 상관무

데이터 너무 커서 아무리 해도 해결이 안된다... 어쩔 수 없이 50만 데이터만 사용하는 걸로 합시다 지금은? 400만개가 있는데 50만이면 꽤 줄이는 거니까 괜찮겠죠? 이게 적용이 잘 되면 나중에 컴퓨터로 더 큰 모델도 돌릴 수 있을 것이다

In [ ]:
import random
list1=random.sample(range(4359246),500000)
list1[1:10]

[349083,
 3088757,
 3567193,
 3875981,
 1513522,
 2887089,
 4240849,
 2016241,
 3836124]

In [ ]:
df2_2=df2_1.loc[list1]

In [ ]:
df3=pd.merge(df2_1,df1_1, on='rct_no', how='inner')

In [ ]:
len(df3['rct_no'].value_counts())

1260850

In [ ]:
df1_1.tail()

,index,cust,rct_no,de_hr_1,hrvar,royal1,royal2,royal3,weekday
4359241,4381738,M533286446,E06052119978,a_10,49.539056,1.0,0.0,0.0,fri
4359242,4381739,M533286446,E06052119978,a_10,49.539056,1.0,0.0,0.0,fri
4359243,4381740,M533286446,E06052119978,a_10,49.539056,1.0,0.0,0.0,fri
4359244,4381741,M533286446,E06052119978,a_10,49.539056,1.0,0.0,0.0,fri
4359245,4381742,M533286446,E06052119978,a_10,49.539056,1.0,0.0,0.0,fri

In [ ]:
df2_1.tail()

,rct_no,de_hr,ma_fem_dv,ages,zon_hlv,weat,rain_n,temp,l_pd,m_pd
4359241,E06052119978,23,남성,40대,Z10,sp,0.0,-6.7,L0022,M0103
4359242,E06052119978,23,남성,40대,Z10,sp,0.0,-6.7,L0022,M0103
4359243,E06052119978,23,남성,40대,Z10,sp,0.0,-6.7,L0022,M0103
4359244,E06052119978,23,남성,40대,Z10,sp,0.0,-6.7,L0022,M0103
4359245,E06052119978,23,남성,40대,Z10,sp,0.0,-6.7,L0022,M0103

In [ ]:
print(df1_1.shape)
print(df2_1.shape)

(4359246, 8)
(4359246, 10)